h1, .h1 {
    background-color: blanchedalmond;
    font-size: calc(1.375rem + 1.5vw);
    border: solid 10px yellow;}
    
  
  @media (min-width: 1000px) {
    h1, .h1 {
      font-size: 2.5rem;}
    }
select{

    background-color: aqua;
}
body{
    background-image: url("ra.jpg");
}
textarea{
    height: 100px;
}
fieldset{
    width: 300px;
}
form{
    background-color: brown;
    width: 650px;
    border: solid 10px yellow;}

label{
    background-color: gold;
}
legend{
    background-color:gold;
}
.function{
    position: center;
}